body{
    font-family:'Courier New', Courier, monospace;
    background: url("/ti2cc/fonte/webservices/03ProdutoService/src/main/resources/fundo.jpg")no-repeat fixed;
    background-size: cover;
    background-position: fixed;
    height: 100%;
}

.titulo_1 {
    color: rgb(255, 255, 255);
    font-family:'Courier New', Courier, monospace;
    align-items: center;
    font-size: xx-large;
    position: relative;
    text-align: center;
    font-weight: bold;
    
}
.titulo_2 {
    color: rgb(255, 255, 255);
    font-family:'Courier New', Courier, monospace;
    align-items: center;
    font-size: x-large;
    position: relative;
    text-align: center;
    font-weight: bold;
    
}
.post_2{
    padding-left: 5%;
}
.post_1{
   align-content: center;
   align-items: center;
   margin-left: auto;
    margin-right: auto;
    width: 5%;
    
}
.titulo
{
    align-content: center;
}
.P{
    align-content: center;
}
.b{
    margin: 5%;
}
.b_1{
    margin: 5%;
    margin-left: 25%;
}